verdi-flow.json
{
  "name": "Spec Hub → openapi Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule Mon-Fri 6am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "functionCode": "// Apps to sync — same list as openapi/apps.yaml\nvar apps = [\n  { fury_app: 'payments',        paths: ['/v1/payments'] },\n  { fury_app: 'customers',       paths: ['/v1/customers'] },\n  { fury_app: 'preferences',     paths: ['/checkout/preferences'] },\n  { fury_app: 'chargebacks',     paths: ['/v1/chargebacks'] },\n  { fury_app: 'subscriptions',   paths: ['/preapproval'] },\n  { fury_app: 'merchant_orders', paths: ['/merchant_orders'] },\n  { fury_app: 'oauth',           paths: ['/oauth/token'] },\n  { fury_app: 'payment_methods', paths: ['/v1/payment_methods'] },\n  { fury_app: 'stores',          paths: ['/users/{user_id}/stores'] },\n  { fury_app: 'pos',             paths: ['/pos'] }\n];\n\nreturn apps.map(function(app) { return { json: app }; });"
      },
      "id": "node-apps-list",
      "name": "Apps to sync",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://document-hubs.melisystems.com/documentations/find",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-scope",      "value": "prod" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ service: $json.fury_app, type: 'specs', query: null }) }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "node-fetch-spec",
      "name": "Fetch spec from Document Hubs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/melisource/fury_openapi/contents/spec3.yaml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "node-get-spec3",
      "name": "Get spec3.yaml from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/melisource/fury_openapi/git/ref/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "node-get-sha",
      "name": "Get main branch SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "functionCode": "var yaml = require('js-yaml');\nvar crypto = require('crypto');\n\n// Inputs from previous nodes\nvar appItem    = items[0].json;\nvar specRaw    = $node['Fetch spec from Document Hubs'].data;\nvar githubFile = $node['Get spec3.yaml from GitHub'].data;\nvar mainSha    = $node['Get main branch SHA'].data.object.sha;\n\n// Parse incoming spec from Document Hubs\nvar specText = typeof specRaw === 'string' ? specRaw : JSON.stringify(specRaw);\nvar incoming;\ntry { incoming = yaml.safeLoad(specText); }\ncatch(e) { incoming = JSON.parse(specText); }\n\n// Decode current spec3.yaml from GitHub (base64)\nvar currentYaml = Buffer.from(githubFile.content, 'base64').toString('utf-8');\nvar current = yaml.safeLoad(currentYaml);\n\nvar allowedPaths = appItem.paths || [];\n\n// Merge schemas\nvar newSchemas = (incoming.components || {}).schemas || {};\nif (!current.components) current.components = {};\nif (!current.components.schemas) current.components.schemas = {};\n\nvar schemaChanges = [];\nObject.keys(newSchemas).forEach(function(name) {\n  var schema = newSchemas[name];\n  if (!current.components.schemas[name]) {\n    current.components.schemas[name] = schema;\n    schemaChanges.push('+ schema: ' + name);\n  } else if (JSON.stringify(current.components.schemas[name]) !== JSON.stringify(schema)) {\n    current.components.schemas[name] = schema;\n    schemaChanges.push('~ schema: ' + name);\n  }\n});\n\n// Merge paths\nvar incomingPaths = incoming.paths || {};\nif (!current.paths) current.paths = {};\n\nvar pathChanges = [];\nvar removals = [];\n\n// Detect removals\nvar ownedInSpec = Object.keys(current.paths).filter(function(p) {\n  return allowedPaths.some(function(prefix) { return p.indexOf(prefix) === 0; });\n});\nvar incomingPathKeys = Object.keys(incomingPaths);\nownedInSpec.forEach(function(p) {\n  if (incomingPathKeys.indexOf(p) === -1) {\n    removals.push('? no longer in Spec Hub: ' + p);\n  }\n});\n\n// Add / update paths\nObject.keys(incomingPaths).forEach(function(path) {\n  var methods = incomingPaths[path];\n  if (allowedPaths.length > 0 && !allowedPaths.some(function(prefix) { return path.indexOf(prefix) === 0; })) return;\n  if (!current.paths[path]) {\n    current.paths[path] = methods;\n    pathChanges.push('+ path: ' + path);\n  } else {\n    Object.keys(methods).forEach(function(method) {\n      var op = methods[method];\n      if (!current.paths[path][method]) {\n        current.paths[path][method] = op;\n        pathChanges.push('+ ' + method.toUpperCase() + ' ' + path);\n      } else if (JSON.stringify(current.paths[path][method]) !== JSON.stringify(op)) {\n        current.paths[path][method] = op;\n        pathChanges.push('~ ' + method.toUpperCase() + ' ' + path);\n      }\n    });\n  }\n});\n\nvar allChanges = schemaChanges.concat(pathChanges);\n\nif (allChanges.length === 0) {\n  return [{ json: { skip: true, app: appItem.fury_app, reason: 'no changes' } }];\n}\n\n// Build merged YAML\nvar mergedYaml = yaml.safeDump(current, { lineWidth: 120 });\nvar contentBase64 = Buffer.from(mergedYaml).toString('base64');\n\n// Build branch name\nvar hash = crypto.createHash('sha256').update(allChanges.join('|')).digest('hex').slice(0, 8);\nvar branch = 'enhancement/automatic-spec-' + appItem.fury_app + '/spec3-' + hash;\n\nvar commitMessage = 'chore(spec): sync ' + appItem.fury_app + ' from Spec Hub\\n\\n' +\n  allChanges.map(function(c) { return '- ' + c; }).join('\\n') +\n  (removals.length > 0 ? '\\n\\n## Paths no longer in Spec Hub (review manually)\\n' + removals.map(function(r) { return '- ' + r; }).join('\\n') : '');\n\nreturn [{ json: {\n  skip: false,\n  app: appItem.fury_app,\n  branch: branch,\n  mainSha: mainSha,\n  contentBase64: contentBase64,\n  currentFileSha: githubFile.sha,\n  commitMessage: commitMessage,\n  changes: allChanges,\n  removals: removals\n} }];"
      },
      "id": "node-merge",
      "name": "Merge specs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip}}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "node-if-changes",
      "name": "Has changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/melisource/fury_openapi/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "ref": "=refs/heads/{{$json.branch}}",
          "sha": "={{$json.mainSha}}"
        }
      },
      "id": "node-create-branch",
      "name": "Create branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1680, 180]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/melisource/fury_openapi/contents/spec3.yaml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "message": "={{$node['Merge specs'].json.commitMessage}}",
          "content": "={{$node['Merge specs'].json.contentBase64}}",
          "sha":     "={{$node['Merge specs'].json.currentFileSha}}",
          "branch":  "={{$node['Merge specs'].json.branch}}"
        }
      },
      "id": "node-push-file",
      "name": "Push spec3.yaml to branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1920, 180]
    },
    {
      "parameters": {
        "functionCode": "var item = items[0].json;\nconsole.log('[SKIP] ' + item.app + ': ' + item.reason);\nreturn items;"
      },
      "id": "node-skip",
      "name": "No changes — skip",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1680, 420]
    }
  ],
  "connections": {
    "Schedule Mon-Fri 6am UTC": {
      "main": [[{ "node": "Apps to sync", "type": "main", "index": 0 }]]
    },
    "Apps to sync": {
      "main": [[{ "node": "Fetch spec from Document Hubs", "type": "main", "index": 0 }]]
    },
    "Fetch spec from Document Hubs": {
      "main": [[{ "node": "Get spec3.yaml from GitHub", "type": "main", "index": 0 }]]
    },
    "Get spec3.yaml from GitHub": {
      "main": [[{ "node": "Get main branch SHA", "type": "main", "index": 0 }]]
    },
    "Get main branch SHA": {
      "main": [[{ "node": "Merge specs", "type": "main", "index": 0 }]]
    },
    "Merge specs": {
      "main": [[{ "node": "Has changes?", "type": "main", "index": 0 }]]
    },
    "Has changes?": {
      "main": [
        [{ "node": "Create branch",     "type": "main", "index": 0 }],
        [{ "node": "No changes — skip", "type": "main", "index": 0 }]
      ]
    },
    "Create branch": {
      "main": [[{ "node": "Push spec3.yaml to branch", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["openapi", "spec-sync", "automation"],
  "triggerCount": 1,
  "versionId": "1"
}
