verdi-flow-sdk.json
{
  "name": "openapi spec3.sdk.yaml → SDK repos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openapi-sdk-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — recibe trigger de GitHub Actions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extraer datos del payload enviado por trigger-sdk-sync.yml\nvar body = items[0].json.body || items[0].json;\nvar specHash = body.spec_hash || 'unknown';\nvar triggeredBy = body.triggered_by || 'github-actions';\nvar timestamp = new Date().toISOString();\n\nconsole.log('[SDK Sync] Triggered by: ' + triggeredBy);\nconsole.log('[SDK Sync] Spec hash: ' + specHash);\nconsole.log('[SDK Sync] Timestamp: ' + timestamp);\n\nreturn [{ json: { specHash: specHash, triggeredBy: triggeredBy, timestamp: timestamp } }];"
      },
      "id": "node-parse",
      "name": "Parsear payload del trigger",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/melisource/fury_openapi/contents/spec3.sdk.yaml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "node-get-spec",
      "name": "Obtener spec3.sdk.yaml del repo openapi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "functionCode": "// Decodificar spec3.sdk.yaml (GitHub retorna base64)\nvar fileData = items[0].json;\nvar specContent = Buffer.from(fileData.content, 'base64').toString('utf-8');\nvar fileSha = fileData.sha;\n\n// Lista de SDK repos de MercadoPago\n// TODO: confirmar nombres exactos de los repos SDK de MP\nvar sdkRepos = [\n  { name: 'sdk-java',       specPath: 'openapi/spec3.yaml', lang: 'Java' },\n  { name: 'sdk-python',     specPath: 'openapi/spec3.yaml', lang: 'Python' },\n  { name: 'sdk-nodejs',     specPath: 'openapi/spec3.yaml', lang: 'Node.js' },\n  { name: 'sdk-php',        specPath: 'openapi/spec3.yaml', lang: 'PHP' },\n  { name: 'sdk-ruby',       specPath: 'openapi/spec3.yaml', lang: 'Ruby' },\n  { name: 'sdk-dotnet',     specPath: 'openapi/spec3.yaml', lang: '.NET' },\n  { name: 'sdk-go',         specPath: 'openapi/spec3.yaml', lang: 'Go' }\n];\n\nreturn sdkRepos.map(function(sdk) {\n  return {\n    json: {\n      repoName: sdk.name,\n      specPath: sdk.specPath,\n      lang: sdk.lang,\n      specContent: specContent,\n      specContentBase64: fileData.content,\n      fileSha: fileSha\n    }\n  };\n});"
      },
      "id": "node-prepare-sdks",
      "name": "Preparar lista de SDK repos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/mercadopago/{{$json.repoName}}/git/ref/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "node-get-sdk-sha",
      "name": "Obtener SHA de main del SDK repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "functionCode": "var specItem   = $node['Preparar lista de SDK repos'].item.json;\nvar mainShaData = items[0].json;\nvar mainSha = mainShaData.object.sha;\n\nvar crypto = require('crypto');\nvar hash = crypto.createHash('sha256')\n  .update(specItem.specContent)\n  .digest('hex')\n  .slice(0, 8);\n\nvar branch = 'enhancement/automatic-spec-openapi/spec3-sdk-' + hash;\nvar commitMsg = 'chore(spec): update SDK spec from fury_openapi\\n\\nSpec hash: ' + hash + '\\nTriggered by: openapi sync pipeline';\n\nreturn [{ json: {\n  repoName:           specItem.repoName,\n  specPath:           specItem.specPath,\n  lang:               specItem.lang,\n  specContentBase64:  specItem.specContentBase64,\n  mainSha:            mainSha,\n  branch:             branch,\n  commitMsg:          commitMsg,\n  hash:               hash\n} }];"
      },
      "id": "node-build-branch-info",
      "name": "Construir nombre de rama y commit",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/mercadopago/{{$json.repoName}}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "ref": "=refs/heads/{{$json.branch}}",
          "sha": "={{$json.mainSha}}"
        }
      },
      "id": "node-create-branch",
      "name": "Crear rama en SDK repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/mercadopago/{{$node['Construir nombre de rama y commit'].item.json.repoName}}/contents/{{$node['Construir nombre de rama y commit'].item.json.specPath}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{$credentials.githubPat}}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "message": "={{$node['Construir nombre de rama y commit'].item.json.commitMsg}}",
          "content": "={{$node['Construir nombre de rama y commit'].item.json.specContentBase64}}",
          "branch":  "={{$node['Construir nombre de rama y commit'].item.json.branch}}"
        }
      },
      "id": "node-push-spec",
      "name": "Pushear spec al SDK repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "functionCode": "var item = $node['Construir nombre de rama y commit'].item.json;\nconsole.log('[SDK Sync] ✅ ' + item.lang + ' (' + item.repoName + ') → branch: ' + item.branch);\nreturn [{ json: { success: true, repo: item.repoName, branch: item.branch, lang: item.lang } }];"
      },
      "id": "node-log-success",
      "name": "Log resultado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'SDK sync triggered', timestamp: new Date().toISOString() }) }}"
      },
      "id": "node-respond",
      "name": "Responder al webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [240, 500]
    }
  ],
  "connections": {
    "Webhook — recibe trigger de GitHub Actions": {
      "main": [
        [{ "node": "Parsear payload del trigger", "type": "main", "index": 0 }],
        [{ "node": "Responder al webhook",        "type": "main", "index": 0 }]
      ]
    },
    "Parsear payload del trigger": {
      "main": [[{ "node": "Obtener spec3.sdk.yaml del repo openapi", "type": "main", "index": 0 }]]
    },
    "Obtener spec3.sdk.yaml del repo openapi": {
      "main": [[{ "node": "Preparar lista de SDK repos", "type": "main", "index": 0 }]]
    },
    "Preparar lista de SDK repos": {
      "main": [[{ "node": "Obtener SHA de main del SDK repo", "type": "main", "index": 0 }]]
    },
    "Obtener SHA de main del SDK repo": {
      "main": [[{ "node": "Construir nombre de rama y commit", "type": "main", "index": 0 }]]
    },
    "Construir nombre de rama y commit": {
      "main": [[{ "node": "Crear rama en SDK repo", "type": "main", "index": 0 }]]
    },
    "Crear rama en SDK repo": {
      "main": [[{ "node": "Pushear spec al SDK repo", "type": "main", "index": 0 }]]
    },
    "Pushear spec al SDK repo": {
      "main": [[{ "node": "Log resultado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": ["sdk", "openapi", "spec-sync"],
  "triggerCount": 1,
  "versionId": "1"
}
